/* ===============================
Colour Palette:
---------------
Dark Grey/Gris Foncé:	                         #465065
Light Grey/Gris Claire:			                   #9aa0ab
Very Light Grey/Gris Très Claire (footer):       #b9c0c6
Red/Rouge:			                               #f0454c
Hover on icons, button and "More ->"             #000
=============================== */

/* General */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*        HEADER: IMAGE NAVIGATION SLOGAN               */
/*                   Image Header                        */
header{
    background-image: url("../images/header.jpg");
    height:1000px;
    background size: cover;
    font-family: montserrat;
    /*display: flex;*/
}
/*               Remettre à la ligne le slogan           */
span {
  display: block ;
}

/*            Flex barre de navigation et freelancer        */
.top{
  display: flex;
  justify-content: space-around;
}

/*            Fond rose du freelancer et du read more        */
.top p, .slogan a{
  background-size: contain;
  background: #f0454c;
  border-radius: 4px;
  padding :20px;
  margin-top: 0px;
  margin-bottom: 20px;
  top:0;
  color:white;
}
/*         Couleurs des icônes facebook et twitter        */
.fa-facebook {
  color: blue;
}
.fa-twitter {
  color: blue;}
/*                      Position du slogan                 */
.slogan {
  padding: 200px;
  margin-top: 50px;
}
/*                 Police petit slogan et navigation         */
nav, .slogan p{
font-family: opensans;
}

/*                       MAIN                            */
main{
  width: 970px;
  margin:25px auto;

}


/*        Traits rouges au dessus des textes et du slogan        */
h3:before, .slogan:before{
  content:"";
  display:flex;
  height:7px;
  width:48px;
  background: #f0454c;
  margin-bottom:24px;
  left
}
/*        Flex des trois grandes section du main                     */
.conteneur{
  display: flex;
}
.portfolio {
  display: flex;
}
.team{
  display: flex;
}
/*             Trois flex de la dernire section                    */
.titre-team {
  display: flex;
}
.joey{
  display: flex;
}
.matt {
  display: flex;
}
.mike{
  display: flex;
}
/*             Polices du main                               */
h3{
  font-family: montserrat;
}
main{
  font-family: opensans;
}
