/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
  }


/*EPINGLE ROSE AVEC ECRIT "FREELANCER".*/
nav:before{
  content:"Freelancer";
  display:block;
  background:#f0454c ;
 color:white;
 border-radius: 10px;
 height: 30px;
 width:100px;
 height: 50px;
 text-align: center;
 margin-left: 200px;
line-height: 3.5em;
}
nav, nav:before{
  display: inline-block;

}
   box-sizing: inherit;
}
